html {}

body{
	font-size:62.5%!important;
	background-color:#141414;
}
.page {
	font-family: monospace;
	max-width:960px;
	margin:0 auto;
	color:#c5af75;
}

.page p {
	font-size:1.4em;
	line-height:2.2em;
}

.page h1 {
	font-size:2.8em;
	margin-top:1em;
	margin-bottom:1em;
}